#file-contents pre {
    margin: 0;
    line-height: 1.3;
    color: black;
    display: block;
    cursor: text;
    font-family: "Courier";
    font-size: 10pt;
}

.top-bar {
    border-bottom: 1px solid gray;
    height: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 99%;
    padding: 5px 10px;
    background: #fff;
    text-align: right;
}

.close-file {
    border: 1px solid gray;
    height: 20px;
    background: red;
    color: white;
    font-weight: bold;
}

#file-contents {
    margin-top: 30px;
    padding-top: 10px;
    margin-bottom: 150px;
}

#file-contents td.line pre.selected {
    background: dodgerblue;
    color: white;
    line-height: 1.5;
    font-weight: bold;
}

#file-contents .line-no {
    padding-left: 10px;
    background: silver;
    text-align: right;
    /*max-width: 1px;*/
}

#file-contents table {
    border-collapse: collapse;
    width: 100%;
}

#file-contents .line pre {
    padding-left: 10px;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: Courier;
}

#add-filter-text {
    width: 80%;
    font-size: 10pt;
    height: 30px;
    border-radius: 5px;
}

#filters {
    position: fixed;
    left: 0;
    bottom: 0;
    border-top: 4px solid black;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    background: white;
    min-height: 150px;
}

#filters table {
    border-collapse: collapse;
    width: 100%;
}

#filters table tr.filter.selected {
    border: 2px solid gray;
}

#file-contents table.filters-applied td.line pre:not(.selected):not(.filter-match) {
    color: gray;
}

#add-filter-form {
    width: 600px;
}

#filter-color-picker {
    border: 1px solid gray;
    height: 25px;
    width: 150px;
}

#filters button {
    border: 1px solid gray;
    border-radius: 3px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrow.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrow.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-bottom: -2px;
}

.arrow.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 2px;
}

#add-filter-form button {
    border: 1px solid gray;
    font-size: 13pt;
    margin-right: 10px;
    padding: 5px 13px;
    border-radius: 4px;
}

.save-filter {
    background: #799840;
    color: white;
}

.close-filter-modal {
    background: red;
    color: white;
}