#analyzer {
    height: 100vh;
}

.top-bar {
    border-bottom: 1px solid gray;
    position: relative;
    width: 99%;
    text-align: right;
    background: #efefef;
    padding: 0.5vh 10px;
}

.top-bar .file-name {
    /*position: absolute;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    font-weight: bold;
}

.top-bar .close-file {
    border: 1px solid gray;
    padding: 7px 20px;
    font-size: 10pt;
    background: red;
    color: white;
    font-weight: bold;
    margin-right: 5px;
}

#file-contents {
    max-height: 75vh;
    min-height: 75vh;
    overflow-y: auto;
    text-rendering: optimizeSpeed;
}

#file-contents pre {
    margin: 0;
    line-height: 1.3;
    color: black;
    display: block;
    cursor: text;
    font-family: "Courier";
    font-size: 10pt;
}

#file-contents td.line pre.selected {
    background: dodgerblue;
    color: white;
    line-height: 1.5;
    font-weight: bold;
}

#file-contents .line-no {
    padding-left: 10px;
    background: silver;
    text-align: right;
    width: 40px;
}

#file-contents table {
    border-collapse: collapse;
    width: 100%;
}

#file-contents .line pre {
    padding-left: 10px;
}

#file-contents table.filters-applied td.line pre:not(.selected):not(.filter-match) {
    color: gray;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: Courier;
}

#add-filter-text {
    width: 80%;
    font-size: 10pt;
    height: 30px;
    border-radius: 5px;
}

#filters {
    left: 0;
    bottom: 0;
    border-top: 4px double gray;
    max-height: 19vh;
    overflow-y: auto;
    width: 100%;
    min-height: 19vh;
    background: #efefef;
}

#filters table {
    border-collapse: collapse;
    width: 99%;
}

#filters table thead th {
    text-align: left;
    border-bottom: 1px solid silver;
    padding: 2px 5px;
    font-size: 10pt;
    font-weight: normal;
    color: saddlebrown;
}

#filters table tr.filter.selected {
    border: 2px solid gray;
}

#add-filter-form {
    width: 600px;
}

#add-filter-form button {
    border: 1px solid gray;
    font-size: 13pt;
    margin-right: 10px;
    padding: 5px 13px;
    border-radius: 4px;
}

#filter-color-picker {
    border: 1px solid gray;
    height: 25px;
    width: 150px;
}

#filters button {
    border: 1px solid gray;
    border-radius: 3px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrow.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrow.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-bottom: -2px;
}

.arrow.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 2px;
}

.save-filter {
    background: #799840;
    color: white;
}

.close-filter-modal {
    background: red;
    color: white;
}