.blue {
    background: royalblue;
    color: white !important;
}

.red {
    background: firebrick;
    color: white !important;
}

.aquamarine {
    background: aquamarine;
}

.black {
    background: black;
    color: white !important;
}

.teal {
    background: teal;
    color: white !important;
}